<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登录首页</title>
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/rems/login.css}"/>
    <script th:src="@{/jquery/jquery-3.7.1.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/utils/lay-msg.js}"></script>
</head>
<body>
<div class="container">
    <header>
        <h1>红色教育网</h1>
        <h2>Login</h2>
    </header>
    <div class="content">
        <form method="post">
            <div class="input-group">
                <div class="input-group-item">
                    <label for="username" class="label">账 &nbsp;号：</label>
                    <input autocomplete="off" name="username" id="username" placeholder="请输入账号" class="input"
                           required
                           type="text">
                    <div></div>
                </div>
                <div class="input-group-item">
                    <label for="password" class="label">密 &nbsp;码：</label>
                    <input autocomplete="off" name="password" id="password" placeholder="请输入密码" class="input"
                           type="password">
                    <div></div>
                </div>
                <span id="warn" class="warn"></span><br>
                <div class="input-group-item">
                    <input type="button" id="login" class="button btn-login" value="登   录"/>
                    <input type="reset" id="reset" class="button bt-reset" value="重   置"/>
                </div>
                <div class="input-group-item to-register">
                    <a id="register" class="register" href="/toRegister">没有账号？
                        <span class="register-blue">去注册</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        // 给整个浏览器窗口添加键盘按下事件
        $(window).keydown(function (event) {
            // 如果按的是回车键，则提交登录请求
            if (event.keyCode === 13) {
                $("#login").click();
            }
        })
        // 判断输入框是否为空
        $('#login').click(function () {
            let username = $("#username");
            let password = $("#password");
            if (username.val() === "") {
                warnMsg("用户名不能为空！")
                username.focus();
                return false;
            }
            if (password.val() === "") {
                warnMsg("密码不能为空！");
                password.focus();
                return false;
            }
            // 账号密码不为空，去后台检查账号密码是否正确
            $.post({
                type: "POST",
                url: "/login",
                data: {
                    'username': username.val(),
                    'password': password.val()
                },
                success: function (res) {
                    if (res.code === 0) {
                        layer.load();
                        setTimeout(function(){
                            layer.closeAll('loading');
                            window.location.href = "/front-index";
                        }, 1000);
                    } else {
                        $('#warn').html('账号或者密码有误');
                    }
                }
            });
        });
    });
</script>
</body>
</html>
