<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>查看问题</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/red-htgl-view.js}"></script>
</head>
<body onload="view('/question')">
<div id="content">
    <div id="content_header"></div>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>问题基本信息</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item layui-row">
            <div class="layui-col-xs6">
                <label class="layui-form-label">问题标题</label>
                <div class="layui-input-block">
                    <input type="text" id="recordId" name="id" hidden="hidden" th:value="${qId}"/>
                    <input type="text" id="quesTitle" name="quesTitle" class="layui-input" autocomplete="off" readonly>
                </div>
            </div>

            <div class="layui-col-xs6">
                <label class="layui-form-label">文章作者</label>
                <div class="layui-input-block">
                    <input type="text" id="quesAuthor" name="quesAuthor" class="layui-input" readonly/>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-row">
            <div class="layui-col-xs6">
                <label class="layui-form-label">发表日期</label>
                <div class="layui-input-block">
                    <input type="text" id="quesDate" name="quesDate" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-col-xs6">
                <label class="layui-form-label">文章来源</label>
                <div class="layui-input-block">
                    <input type="text" id="quesSource" name="quesSource" class="layui-input" readonly/>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-row">
            <div class="layui-col-lg12">
                <label class="layui-form-label">文章内容</label>
                <div class="layui-input-block">
                    <textarea name="quesTxt" id="quesTxt" class="layui-input" readonly></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center">
            <button class="layui-btn" lay-submit="" lay-filter="demo2" onclick="script: window.close();">退出</button>
        </div>
    </form>
</div>
</body>
</html>