<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>问题查询</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link media="all" rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/rems/red-htgl-edit.js}"></script>
</head>
<body>
<div id="content">
    <div id="content_header"></div>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>问题查询基本信息</legend>
    </fieldset>
    <form action="" class="layui-form layui-form-pane">
        <div class="layui-form-item layui-row">
            <div class="layui-col-xs6">
                <label class="layui-form-label">留言用户</label>
                <div class="layui-input-block">
                    <input hidden="hidden" id="recordId" name="id" th:value="${mId}" type="text"/>
                    <input class="layui-input" id="msgUsername" name="msgUsername" type="text">
                </div>
            </div>
            <div class="layui-col-xs6">
                <label class="layui-form-label">用户头像</label>
                <div class="layui-input-block">
                    <input class="layui-input" id="msgUserFace" name="msgUserFace" type="text"/>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-row">
            <div class="layui-col-xs6">
                <label class="layui-form-label">留言日期</label>
                <div class="layui-input-block">
                    <input class="layui-input" id="msgDate" name="msgDate" type="date">
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-row">
            <div class="layui-col-lg12">
                <label class="layui-form-label">留言内容</label>
                <div class="layui-input-block">
                    <textarea class="layui-input" id="msgContent" name="msgContent"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center">
            <button class="layui-btn" lay-filter="demo2" lay-submit="">保存</button>
            <button class="layui-btn" lay-filter="demo2" lay-submit="">发布</button>
            <button class="layui-btn" onclick="window.close();">退出</button>
        </div>
    </form>
</div>

<script>
    let verifys = {
        msgUsername: function (value) {
            if (value.length === 0) {
                return '留言用户名不能为空！';
            }
        }
        , msgContent: function (value) {
            if (value === null || value.length === 0) {
                return "留言内容不能为空！";
            }
        }
    };
    edit("/message", verifys);
</script>
</body>
</html>