<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>课程学习</title>
    <meta charset="UTF-8" content="text/html" />
    <link rel="stylesheet" href="/css/rems/course-learning.css" />
</head>

<body>
    <div th:replace="rems-back/rems-core/top :: html"></div>
    <div class="cl_container">
        <div class="cl_logo">课程学习</div>
        <p class="cl_logo_ms">
            STUDY TOUR<a class="btn btn-danger btn_back" style="float: right; margin-right: 40px"
                href="/front-index">返回</a>
        </p>
        <ul>
            <li th:each="cl:${session.cList}">
                <div class="course">
                    <div class="cl_title">[[${cl.courseTitle}]]</div>
                    <div>
                        <a th:href="@{'/'+${cl.courseIndex}}">
                            <img class="cl_image" th:src="'/images/'+${cl.courseImg}" />
                        </a>
                        <a class="cl_a1" th:href="@{'/'+${cl.courseIndex}}">[[${cl.courseSm}]]</a>
                        <p class="cl_p1">[[${cl.courseContent}]]</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>