<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width" name="viewport"/>
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/rems/back-index.css}"/>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.7.1.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/utils/lay-msg.js}"></script>
</head>

<body>
<div class="layui-layout layui-layout-admin">
    <!-- 顶部 header -->
    <div class="layui-header">
        <!-- 右上角用户个人中心 -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:">
                    <img style="border-radius: 50%; width: 30px; height: 30px; margin-right: 5px;"
                         th:src="@{'/images/'+${session.user.avatar}}"/>
                    <cite>[[ ${session.user.nickname} ]]</cite>
                </a>
                <dl class="layui-nav-child layui-anim layui-anim-upbit">
                    <dd class="rems-nav-item" data-url="/rems-user-info" mytitle="个人中心"><a href="#">个人中心</a></dd>
                    <dd><a href="">修改密码</a></dd>
                    <hr>
                    <dd style="text-align: center;"><a href="/front-index">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- 侧边菜单 -->
    <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
            <div class="layui-logo">
                <img class="logo-img" src="/images/mini_logo.png"/>
                <span>后台管理系统</span>
            </div>
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layui-nav-title" href="javascript:"><i class="layui-icon layui-icon-user"></i>&nbsp;&nbsp;&nbsp;账户管理</a>
                    <dl class="layui-nav-child">
                        <dd class="rems-nav-item" data-url="/rems-user-manage-list" mytitle="普通用户管理">
                            <a href="#">&emsp;&emsp;普通用户管理</a>
                        </dd>
                        <dd class="rems-nav-item" data-url="/iframe" mytitle="管理员账户">
                            <a href="#">&emsp;&emsp;管理员账户</a>
                        </dd>
                        <dd class="rems-nav-item" data-url="/rems-user-info" mytitle="个人中心">
                            <a href="#">&emsp;&emsp;个人中心</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layui-nav-title" href="javascript:"><i class="layui-icon layui-icon-template"></i>&nbsp;&nbsp;&nbsp;资源管理</a>
                    <dl class="layui-nav-child">
                        <dd class="rems-nav-item" data-url="/rems-popular-nav-manage-list" mytitle="热门导航"><a
                                href="javascript:">&emsp;&emsp;热门导航</a>
                        </dd>
                        <dd class="rems-nav-item" data-url="/rems-question-manage-list" mytitle="问题查询"><a
                                href="javascript:">&emsp;&emsp;问题查询</a>
                        </dd>
                        <dd class="rems-nav-item" data-url="/rems-course-learning-manage-list" mytitle="课程学习"><a>&emsp;&emsp;课程学习</a>
                        </dd>
                        <dd class="rems-nav-item" data-url="/rems-message-manage-list" mytitle="网站留言"><a>&emsp;&emsp;网站留言</a>
                        </dd>
                    </dl>
                </li>
                <li class="rems-nav-item layui-nav-item layui-nav-itemed" data-url="/iframe" mytitle="系统管理">
                    <a class="layui-nav-title" href="javascript:"><i class="layui-icon layui-icon-set"></i>&nbsp;&nbsp;&nbsp;系统管理</a>
                </li>
                <li class="rems-nav-item layui-nav-item layui-nav-itemed" data-url="/iframe" mytitle="权限管理">
                    <a class="layui-nav-title"><i class="layui-icon layui-icon-auz"></i>&nbsp;&nbsp;&nbsp;权限管理</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 页面标签 -->
        <div class="layui-tab layui-tab-brief" lay-allowclose="true" lay-filter="demo">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-allowclose="false"><i class="layui-icon layui-icon-home"></i>&nbsp;&nbsp;首页
                </li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src='/user/to-home' style="position: absolute;width: 100%;height: calc(100% - 41px);left: 0;top: 41px;right:
                     0;bottom: 0;border: none;">
                    </iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <span class="footer-text">Copyright © 2024-2025 &nbsp;&nbsp;Red Educate Website All Rights
                Reserved 红色教育网站 版权所有</span>
    </div>
</div>

<script>
    // JS
    layui.use(['element', 'layer', 'util'], function () {
        let layer = layui.layer,
            util = layui.util
        // 头部事件
        util.event('lay-header-event', {
            // 左侧菜单事件
            menuLeft: function () {
                successMsg('展开左侧菜单的操作')
            },
            menuRight: function () {
                layer.open({
                    type: 1,
                    content: '<div style="padding: 15px;">处理右侧面板的操作</div>',
                    area: ['260px', '100%'],
                    offset: 'rt', //右上角
                    anim: 5,
                    shadeClose: true
                })
            }
        })
    })

    layui.use('element', function () {
        let $ = layui.jquery,
            element = layui.element
        // 触发事件
        let active = {
            tabAdd: function () {
                $('#MyIframe').remove()
                // 新增一个Tab项
                let htmlUrl = $(this).attr('data-url')
                let mytitle = $(this).attr('mytitle')
                // 先判断是否已经有了tab
                let arrayObj = []
                $('.layui-tab-title')
                    .find('li')
                    .each(function () {
                        let y = $(this).attr('lay-id')
                        arrayObj.push(y)
                    })
                let have = $.inArray(mytitle, arrayObj) //返回 3,
                if (have >= 0) {
                    // tab已有标签
                    element.tabChange('demo', mytitle) //切换到当前点击的页面
                } else {
                    // 没有相同tab
                    element.tabAdd('demo', {
                        title: mytitle,
                        content:
                            '<iframe style="position: absolute;width: 100%;height: calc(100% - 41px);left: 0;top: 41px;right: 0;bottom: 0;border: none;" src=' +
                            htmlUrl +
                            ' ></iframe>',
                        id: mytitle // 实际使用一般是规定好的id，这里以时间戳模拟下
                    })
                    element.tabChange('demo', mytitle) // 切换到当前点击的页面
                }
            }
        }
        $('.rems-nav-item').click(function () {
            let type = 'tabAdd'
            let that = $(this)
            active[type] ? active[type].call(this, that) : ''
        })
    })
</script>
</body>
</html>