<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>广西文化</title>
    <link rel="stylesheet" href="/css/cl_01.css">
</head>
<body>
<div th:replace="red-page/top :: html"></div>
<div class="content">
    <div class="con_title">广西文化 <a class="btn btn-danger btn_back" href="/courseLearning">返回</a></div>
    <div class="con_img">
        <img src="/images/cl_03.png">
    </div>
    <div class="con_txt">
        <h1 class="titleH1">广西百色红色培训</h1>
        <div class="Introduce">
            <ul>
                <li>适合人群：党政机关干部、党员</li>
                <li>游学城市：广西</li>
                <li>行程天数：2</li>
                <li>游学日期：全年</li>
            </ul>
        </div>
        <div class="btn-buy" id="buyButton">
            <a href="#">
                <button class="buy">预约报名</button>
            </a>
            <button class="add">加入收藏夹</button>
        </div>

    </div>
    <div class="travelNav">
        <ul>
            <li><a href="#p1">课程简介</a></li>
            <li><a href="#p2">课程特色</a></li>
            <li><a href="#p3">课程目标</a></li>
            <li><a href="#p4">课程安排</a></li>
            <li style="width:262px; border-right:none;"><a href="">咨询电话：400-626-6226</a></li>
        </ul>
    </div>
    <p class="con_txt_title"><span class="con_txt_span1">广西</span></p>
    <p class="con_txt_title"><span class="con_txt_span2">&nbsp;红色文化是中华传统文化的有机组成部分，是“中国共产党领导人民在革命、建设、改革进程中创造的以中国化马克思主义为核心的先进文化”。在中国共产党带领人民进行革命和建设的进程中，形成了许多伟大的革命精神，留下了许多宝贵的物质载体，这些构成了“红色文化”的主要内容。红色文化既是对中华优秀传统文化和中华民族精神的丰富和发展，也是孕育形成社会主义核心价值观的根脉源泉。广西有着丰富的红色资源和浓厚的红色文化，在红色旅游资源开发、红色文化精品推出、红色宣传教育等方面都有突出的成绩，在创建红色文化传承创新区方面有很大优势。加强研究、探讨并推动红色文化发展创新，对于振兴广西文化建设，推动广西经济、政治、社会、生态文明建设等具有独特的价值功能。要大力推进红色文化体制机制创新、内容形式创新、传播手段创新，使改革创新始终成为红色文化发展的强劲动力。
    </span>
    </p>
    <br>

    <p class="con_txt_title"><span class="con_txt_span1">百色起义烈士碑园</span></p>
    <p class="con_txt_title"><span class="con_txt_span2">&nbsp;　百色起义纪念碑园坐落在广西百色市城东路后龙山上，占地面积126亩，1996年4月被国务院批准为首批全国烈士纪念建筑物重点保护单位，1998年被自治区党委、政府确定为全区爱国主义教育基地。胡锦涛、江泽民、李鹏、朱镕基、李瑞环、吴邦国、温家宝、李长春、罗干等50多位党和国家领导人曾先后瞻仰了百色起义纪念碑。自1984年建成以来，每年接待观众达30万人（次）以上。雄伟的百色起义纪念碑高23.9米，碑体的造型是直刺苍穹的红缨大刀，高高地耸立在纪念碑园的中央，昭示着革命者顽强不屈的精神和力量，记录了80余年前那场“红旗卷起农奴戟”的光辉历史。碑座正面是邓小平同志亲笔题写的“百色起义的革命先烈永垂不朽”13个金色大字；背面碑文概述了百色起义的过程及其历史意义；两侧汉白玉浮雕由著名雕塑家叶毓山先生创作，以统战工作、农民运动、武装起义、浴血奋战、英勇牺牲、革命胜利为主题，栩栩如生地再现了百色起义的历史风云。纪念碑园主入口为灰白色花岗岩构筑的阶梯，阶梯高49米、宽11米，共314级台阶。主入口两侧各有一条上山步道，右侧有通往山顶的车道。纪念碑前是一个面积为3000多平方米的瞻仰广场。广场东西两侧矗立着两组群雕，一组刻画了红七军战士和赤卫队员紧握刀枪，投身革命洪流的场面；另一组再现了各族人民欢庆胜利的情景。园内松柏滴率，红棉怒放，碧草如茵，亭台隐现，既庄严肃穆，又幽静秀雅。从碑前广场向南远眺，百色城“一围青山一江水，半城绿树半城楼”的美景尽收眼底。百色起义纪念碑与周边的百色起义纪念馆、红七军军部旧址、红七军政治部旧址遥相呼应，既是缅怀革命先烈、进行爱国主义和革命传统教育的重要场所，也是全国著名的红色旅游风景点。
    </span>
    </p>
</div>
<footer>
    <p>RedEMS Made By <a href="#">红色教育</a></p>
</footer>
</body>
</html>
