<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>红色文化</title>
    <link rel="stylesheet" href="/css/cl_01.css">
</head>
<body>
<div th:replace="red-page/top :: html"></div>
<div class="content">
    <div class="con_title">红色文化 <a class="btn btn-danger btn_back" href="/courseLearning">返回</a></div>
    <div class="con_img">
        <img src="/images/cl_02.png">
    </div>
    <div class="con_txt">
        <h1 class="titleH1">福建红色文化</h1>
        <div class="Introduce">
            <ul>
                <li>适合人群：党政机关干部、党员</li>
                <li>游学城市：福建</li>
                <li>行程天数：2</li>
                <li>游学日期：全年</li>
            </ul>
        </div>
        <div class="btn-buy" id="buyButton">
            <a href="#">
                <button class="buy">预约报名</button>
            </a>
            <button class="add">加入收藏夹</button>
        </div>

    </div>
    <div class="travelNav">
        <ul>
            <li><a href="#p1">课程简介</a></li>
            <li><a href="#p2">课程特色</a></li>
            <li><a href="#p3">课程目标</a></li>
            <li><a href="#p4">课程安排</a></li>
            <li style="width:262px; border-right:none;"><a href="">咨询电话：400-626-6226</a></li>
        </ul>
    </div>
    <p class="con_txt_title"><span class="con_txt_span1">福建省革命历史纪念馆</span></p>
    <p class="con_txt_title"><span class="con_txt_span2">&nbsp;福建省革命历史纪念馆，座落于福州著名风景名胜区鼓山脚下，是全国爱国主义教育示范基地、全国红色旅游经典景区，也是福建省精神文明建设和改革开放的重要窗口。以下是中国建筑网给大家带来的关于福建省革命历史纪念馆的详细介绍。
    </span>
    </p>
    <br>
    <p class="con_txt_title"><span class="con_txt_span2"> 纪念馆占地30亩，建筑面积16000平方米。整座建筑融中西建筑风格为一体，以内广场为中心，组织起序厅、陈列厅、半景画馆、办公楼、培训中心等空间序列。馆体建筑具有福建土楼的风格。
    </span>
    </p>
    <p class="con_txt_title"><span class="con_txt_span2"> 大门两旁叠落水池中耸立两组现代化艺术铜雕，分别为《曲折·崛起》，寓意着福建人民在曲折中奋进，在探索中崛起，给人以坚忍不拔、勇往直前的力感。大门横楣上镶嵌着大型花岗岩石浮雕《迈向新世纪》，浮雕由“奋斗、胜利、腾飞、辉煌”等画面组成，象征着八闽儿女艰苦创业，孜孜探索，在中国共产党领导下进行革命、建设的光辉历程和美好前景。
    </span>
    </p>
    <p class="con_txt_title"><span class="con_txt_span2"> 内广场为圆形，广场直径20米，抬头上望与蓝天白云直接相通，采天人合一的意境，站在中心点上大喝一声，能听到超平常几倍的声音，这是利用了回音壁的原理。内广场一座高7米的大型铜雕《奋斗》，由星与人物组成。星为未完形，亦如山、如剑、如闪电；人物是以工农兵为主体的10位革命群像，以勇往直前的造型，刚毅坚强的神态，表现出福建人民团结奋斗，前仆后继，追求光明幸福的革命精神。
    </span>
    </p>
    <p class="con_txt_title"><span class="con_txt_span2"> 序厅大型影雕《闽之魂》，高2.4米，长14米，黑色花岗岩上镌刻着福建百年风云人物和革命文物精华，气势磅礴，栩栩如生，堪称福建工艺美术经典之作。
    </span>
    </p>
    <p class="con_txt_title"><span class="con_txt_span1">福州林则徐纪念馆简介</span></p>
    <p class="con_txt_title"><span class="con_txt_span2">&nbsp;　林则徐纪念馆在鼓楼区澳门路16号。原名林文忠公祠，建于清光绪三十一年（1905）。1982年按原样修复，占地3000平方米，建筑面积1000平方米。屏墙左右石拱门上横额分别石刻“中宗宗衮”、“左海伟人”，屏墙内浮雕虎门销烟图。正门上横额刻“林文忠公祠”。庭置执事牌。仪门厅后石道直达御碑亭，内有光绪三 十一年立的道光三十年“圣旨”、“御赐祭”、“御制碑文”等3块青石碑。亭北为树德堂，中祀林则徐坐像。堂西为南北花厅，厅西有两层的曲尺楼，原为林家子弟读书处，楼前有草坪、鱼池、假山、花木，全馆为古典式园林建筑。今堂、厅、楼均辟为林则徐生平展室，分林则徐生平事略，林则徐与鸦片战争，林则徐与救灾、水利，放眼看世界第一人，林则徐手迹等部分。
    </span>
    </p>
</div>
<footer>
    <p>RedEMS Made By <a href="#">红色教育</a></p>
</footer>
</body>
</html>
