<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>江西文化</title>
    <link rel="stylesheet" href="/css/cl_01.css">
</head>
<body>
<div th:replace="red-page/top :: html"></div>
<div class="content">
    <div class="con_title">江西文化 <a class="btn btn-danger btn_back" href="/courseLearning">返回</a></div>
    <div class="con_img">
        <img src="/images/cl_04.png">
    </div>
    <div class="con_txt">
        <h1 class="titleH1">江西红色培训</h1>
        <div class="Introduce">
            <ul>
                <li>适合人群：党政机关干部、党员</li>
                <li>游学城市：江西</li>
                <li>行程天数：2</li>
                <li>游学日期：全年</li>
            </ul>
        </div>
        <div class="btn-buy" id="buyButton">
            <a href="#">
                <button class="buy">预约报名</button>
            </a>
            <button class="add">加入收藏夹</button>
        </div>

    </div>
    <div class="travelNav">
        <ul>
            <li><a href="#p1">课程简介</a></li>
            <li><a href="#p2">课程特色</a></li>
            <li><a href="#p3">课程目标</a></li>
            <li><a href="#p4">课程安排</a></li>
            <li style="width:262px; border-right:none;"><a href="">咨询电话：400-626-6226</a></li>
        </ul>
    </div>
    <p class="con_txt_title"><span class="con_txt_span1">江西省</span></p>
    <p class="con_txt_title"><span class="con_txt_span2">&nbsp;  江西省，地处中国东南偏中部长江中下游南岸，面积为16.69万平方公里，自古以来物产富饶、人文荟萃，素有“物华天宝、人杰地灵”之誉，是中国“红色旅游”的故乡。江西是毛泽东发起革命活动的重要场所。承载着中国光荣的革命历史，从安源工人运动到秋收起义，从八一南昌起义到井冈山斗争，从开创瑞金中央革命根据地到红军长征，从赣南三年游击战争到上饶集中营茅家岭，一系列重大革命活动都发生在江西。每一个景点都展现着江西独特的历史故事和历史细节，让我们在那历史长河中去感受它的深邃与沉静吧！
    </span>
    </p>
    <br>
</div>
<footer>
    <p>RedEMS Made By <a href="#">红色教育</a></p>
</footer>
</body>
</html>
