table .m_id{
    width: 50px;
}
table .m_face,.m_username,.m_date{
    width: 100px;
}
table .m_content{
    width: 500px;
}
.face img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 2px;
}
.face img:hover {
    transform: scale(1.2, 1.2);
}
.change{
    opacity: 1;
}
.change2{
    opacity: 0.5;
}
.modal-body .update_s {
    width: 700px;
    height: 300px;
    padding: 20px;
    margin: 0 auto;
}