<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>普通用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/red-htgl-list.js}"></script>
</head>
<body>
<table id="redDataTable" lay-filter="tabComponent"></table>
<script type="text/html" id="barComponent">
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-sm" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>
</script>

<script>
    let apiUrl = "/user";
    let cols = [
        [ // 表头
            {type: 'checkbox', fixed: 'left'}
            , {field: 'id', title: 'ID', width: '10%', sort: true, fixed: 'left'}
            , {
            field: 'face',
            title: '用户头像',
            width: '10%',
            templet: '<div><img style="width: 40px;height: 40px" src="/images/{{=d.face}}"/></div>',
            style: 'margin:0;padding:3px 5px;'
        }
            , {field: 'username', title: '用户名称', width: '15%', sort: true}
            , {field: 'account', title: '用户账号', width: '15%', sort: true}
            , {field: 'password',type: 'password', title: '用户密码', width: '15%'}
            , {field: 'type', title: '用户类型', width: '15%'}
            , {fixed: 'right', title: '操作', width: '16.5%', align: 'center', toolbar: '#barComponent'}
        ]
    ];
    initPage("redDataTable", cols);
</script>
</body>
</html>