<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link media="all" rel="stylesheet" th:href="@{/css/rems/back-list.css}"/>
    <script type="text/javascript" th:src="@{/md5/md5.min.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/rems/rems-modify-password.js}"></script>
</head>
<body>
<div class="back-container">
    <div class="layui-panel">
        <div class="layui-card-header">修改密码</div>
        <div class="layui-card-body">
            <form class="layui-form" lay-filter="modify-password-filter">
                <div class="layui-form-item">
                    <label for="recordId">
                        <input type="text" id="recordId" name="id" hidden="hidden" th:value="${session.user.id}"/>
                    </label>
                    <label for="oldPassword" class="layui-form-label">当前密码</label>
                    <div class="layui-input-inline">
                        <input id="oldPassword" class="layui-input" type="password" lay-verify="required"
                               lay-vertype="tips" name="oldPassword">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="password" class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input id="password" class="layui-input" type="password" lay-verify="password"
                               lay-vertype="tips" name="password">
                    </div>
                    <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                </div>
                <div class="layui-form-item">
                    <label for="rePassword" class="layui-form-label">确认新密码</label>
                    <div class="layui-input-inline">
                        <input id="rePassword" class="layui-input" type="password" lay-verify="rePassword"
                               lay-vertype="tips" name="rePassword">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button id="set-modify-password" class="layui-btn" lay-submit>确认修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>