<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>普通用户管理</title>
    <meta content="webkit" name="renderer"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <link media="all" rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link media="all" rel="stylesheet" th:href="@{/css/rems/back-list.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/rems/red-htgl-list.js}"></script>
    <script th:src="@{/js/utils/lay-msg.js}"></script>
</head>
<body>
<div class="back-container">
    <div class="layui-panel">
        <table class="layui-hide" id="redDataTable" lay-filter="tabComponent"></table>
    </div>
</div>

<script id="barComponent" type="text/html">
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-sm" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>
</script>
<script id="ID-table-demo-templet-switch" type="text/html">
    <input type="checkbox" name="status" title="开启|关闭" value="{{=d.id}}"
           lay-skin="switch" lay-filter="demo-templet-status" {{=d.status== "ACTIVE" ? "checked" : "" }}>
</script>
<script>
    let apiUrl = '/user'
    let cols = [
        [
            // 表头
            {type: 'checkbox', fixed: 'left'},
            {field: 'id', title: '用户ID', width: 80},
            {
                field: 'avatar',
                title: '用户头像',
                width: 120,
                templet: '<div><img style="width: 40px;height: 40px" src="/images/{{=d.avatar}}"/></div>',
                style: 'margin:0;padding:0;'
            },
            {field: 'username', title: '用户名称', width: 150, sort: true},
            {
                field: 'gender',
                title: '性别',
                width: 80,
                templet: function (d) {
                    if (d.gender === 'MALE') {
                        return '<span style="color: blue">♂</span>'
                    }
                    if (d.gender === 'FEMALE') {
                        return '<span style="color: pink">♂</span>'
                    } else {
                        return '<span style="color: #ccc">其他</span>'
                    }
                }
            },
            {field: 'nickname', title: '用户昵称', width: 150, sort: false},
            {field: 'password', type: 'password', title: '用户密码', width: 230},
            {field: 'role', title: '角色', width: 120},
            {title: '状态', width: 100, templet: '#ID-table-demo-templet-switch',},
            {field: 'createTime', title: '创建时间', width: 240, sort: true},
            {title: '操作', fixed: 'right', align: 'center', toolbar: '#barComponent'}
        ]
    ]
    initPage('redDataTable', cols)

    // 状态开关操作
    layui.use(['table', 'layer'], function () {
        const form = layui.form;
        form.on('switch(demo-templet-status)', function (obj) {
            console.log(obj)
            let status = obj.elem.checked ? 'ACTIVE' : 'INACTIVE'
            $.ajax({
                type: 'post',
                url: apiUrl + '/update',
                headers: {
                    'Content-Type': 'application/json'
                },
                dataType: 'json',
                data: JSON.stringify({
                    id: this.value,
                    status: status
                }),
                success: function (data) {
                    if (data != null) {
                        successMsg('更新成功！')
                    } else {
                        errorMsg('更新失败！')
                    }
                },
                error: function () {
                    errorMsg('更新失败！')
                }
            })
        })
    })
</script>
</body>
</html>