<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link media="all" rel="stylesheet" th:href="@{/css/rems/back-list.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/utils/lay-msg.js}"></script>
    <script th:src="@{/md5/md5.min.js}"></script>
</head>
<body>
<div class="back-container">
    <div class="layui-panel">
        <div class="layui-card-header">修改密码</div>
        <div class="layui-card-body">
            <div class="layui-form" lay-filter="user-info-filter">
                <div class="layui-form-item">
                    <label for="recordId">
                        <input type="text" id="recordId" name="id" hidden="hidden" th:value="${session.user.id}"/>
                    </label>
                    <label for="oldPassword" class="layui-form-label">当前密码</label>
                    <div class="layui-input-inline">
                        <input id="oldPassword" class="layui-input" type="password" lay-verify="required"
                               lay-vertype="tips" name="oldPassword">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="password" class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input id="password" class="layui-input" type="password" lay-verify="password"
                               lay-vertype="tips"
                               name="password">
                    </div>
                    <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                </div>
                <div class="layui-form-item">
                    <label for="rePassword" class="layui-form-label">确认新密码</label>
                    <div class="layui-input-inline">
                        <input id="rePassword" class="layui-input" type="password" lay-verify="rePassword"
                               lay-vertype="tips">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="set-modify-password">确认修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form'], function () {
        let form = layui.form;
        let $ = layui.jquery;

        form.verify({
            password: function (value) {
                if (value.length < 6 || value.length > 16) {
                    return '密码长度在6到16个字符之间';
                }
            }
            , rePassword: function (value) {
                if ($('#password').val() !== value) {
                    return '两次密码输入不一致';
                }
            }
        })

        form.on('submit(set-modify-password)', function (data) {
            let userId = data.field.id;
            let salt = '1a2b3c4d'
            let oldPasswordStr = '' +
                salt.charAt(0) +
                salt.charAt(2) +
                data.field.oldPassword +
                salt.charAt(5) +
                salt.charAt(4)
            let passwordStr = '' +
                salt.charAt(0) +
                salt.charAt(2) +
                data.field.password +
                salt.charAt(5) +
                salt.charAt(4)
            let oldPasswordEncrypt = md5(oldPasswordStr)
            let passwordEncrypt = md5(passwordStr)
            let reqParam = {
                userId: userId,
                oldPassword: oldPasswordEncrypt,
                password: passwordEncrypt
            }
            $.ajax({
                url: '/user/modify-password',
                type: 'POST',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(reqParam),
                success: function (data) {
                    if (data.code === 0) {
                        layer.msg('修改成功，请重新登录！', {
                            icon: 1, time: 1500
                        })
                    } else {
                        layer.msg('修改失败！' + data.msg, {
                            icon: 2, time: 1500
                        })
                    }
                },
                error: function (err) {
                    layer.msg('修改失败！' + err.responseJSON.msg, {
                        icon: 2, time: 1500
                    })
                }
            })
            return false;
        })
    })
</script>
</body>
</html>